.hidden {
  display: none;
}

.tables__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.tables__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tables__listitem {
  margin: 0.5rem;
}

.table__button {
  width: 100%;
  background-color: transparent;
  border: 2px dashed #E19283;
  padding: 0.5rem;
  color: #B34E46;
  height: 5rem;
}

.border {
  border: 2px solid #E19283;
}

.table__button:hover,
.fill {
  background-color: #E19283;
}

.menu__title,
.drinks__title {
  font-size: 1.5rem;
  color: #434834;
  font-weight: bold;
  text-transform: uppercase;
  margin: .5rem;
}

.service {
  margin: 1rem;
}

.service__row {
  display: flex;
  flex-direction: row;
}

.service__title {
  margin-left: .5rem;
  background-color: #A6AC8A;
  color: #434834;
  padding: .5rem;
  font-weight: bold;
}


.menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 30rem;
}

.item {
  border: 1px solid #A6AC8A;
  background-color: transparent;
  color: #A6AC8A;
  font-size: 1rem;
  padding: 1rem;
  margin: .5rem;
  font-weight: bold;
}

.checked {
  color: #767A61;
  background-color: #A6AC8A;
}

/* .checkbox {
  background-color: #E6DFCF;
  border: none;
} */

.menuItem:hover {
  background-color: #A6AC8A;
  color: #767A61;
}